<h1><%=@student.first_name%> <%=@student.last_name%></h1>
<p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<p>
   Age: <%=@student.age%><br>
   Gender: <%=@student.gender%><br>
   Grade: <%=@student.grade%><br>
   Class: <%=@student.subject%><br>
    <br>
    <br>
    Click <a href="/students/<%=@student.id%>/edit">here</a> to edit this student
</p>


<form method="POST" action="/students/<%=@student.id%>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Student">
</form>

<br>
<br>
<%if @my_student%>
<p>Go to: <a href='/students/myindex'>My Students</a></p>
<%end%>
<p>Go to: <a href='/students'>All Students</a><br>
<br>
<a href='/logout'>Logout</a></p>